header {
    display: flex;
    height: 94px;
    border-bottom: 2px solid #c59d5f;
    & ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        & li {
            margin: 0 20px;
            color: white;
            text-transform: uppercase;
        };
        & li:hover {
            border-bottom: 2px solid #c59d5f;
            padding-bottom: 4px;
            cursor: pointer;
        }
    }
}