button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px;
    background: #c59d5f;
    border: none;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;
}

button:hover {
    color: white;
}

.text-center {
    text-align: center;
}

.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}